
.icon-refresh {
    background-image:url(../images/icons/refresh.png) !important;
}
.icon-add {
     background-image:url(../images/icons/add.png) !important;
}
.icon-search {
     background-image:url(../images/icons/search.png) !important;
}
.icon-status-red {
     background-image:url(../images/icons/status_red.png) !important;
}
.icon-status-green {
     background-image:url(../images/icons/status_green.png) !important;
}
.icon-status-gray {
     background-image:url(../images/icons/status_gray.png) !important;
}
.icon-status-yellow {
     background-image:url(../images/icons/status_yellow.png) !important;
}
.icon-import {
     background-image:url(../images/icons/import.png) !important;
}
.icon-save {
     background-image:url(../images/icons/save.png) !important;
}
.icon-note_add {
     background-image:url(../images/icons/note_add.png) !important;
}
.icon-image {
     background-image:url(../images/icons/image.png) !important;
}
